@font-face {
    font-family: "futura";
    src: url("public/fonts/futura/futura-medium.ttf");
}

html body {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F8F0F0;
    overflow: hidden;
    font-family: "futura", Verdana, Geneva, Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    border: none;
    background: none;
    font-family: "futura", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
}

.full-width-div {
    width: 100%;
    text-align: center;
}

.full-page {
    position: relative;
    height: 95vh;
    width: 100vw;
}

/* for desktop */
@media (min-width: 750px) {
    .full-page {
        position: relative;
        height: 95vh;
        width: 45vw;
    }
}

.melodate-logo {
    height: 10rem;
    width: 10rem;
}

.pill-button-form {
    height: 3rem;
    width: 65%;
    border: solid 3px;
    border-radius: 70px;
}

.pill-button {
    border-radius: 70px;
    height: 100%;
    width: 100%;
}

.logout-button {
    color: #0D89D8;
    font-size: .8rem;
    text-decoration: underline;
}

.green-button {
    background-color: #effff1;
}

.landing-text {
    font-size: 1.5rem;
}

.logout-text {
    width: 55%;
    font-size: .8rem;
    overflow-wrap: break-word;
}

.tinder-card {
    /* allows the cards to be on top of each other */
    position: absolute;
    background-color: white;
    height: 80%;
    width: 75%;
}

.image-container {
    width: 100%;
    height: 50%;
}

.name-container {
    height: 20%;
}

.artist-name {
    padding: 1rem 1rem 0 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.artist-followers {
    padding: .5rem 1rem 0 1rem;
    font-size: .75rem;
    color: grey;
}

.artist-genre {
    padding: 0 1rem 1rem 1rem;
    font-size: .75rem;
    color: forestgreen;
}

.track-container {
    background-color: #8FCB9B;
    height: 30%;
}

.fit-image {
    pointer-events: none;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.track-cover-container {
    width: 50%;
    height: 100%;
}

.track-audio-container {
    width: 50%;
    height: 100%;
}

.track-title {
    font-size: .75rem;
    padding: .5rem;
}

.track-preview {
    padding: .5rem .25rem;
}

.track-cover {
    width: 60%;
    height: auto;
}

audio::-webkit-media-controls-timeline-container,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-rewind-button,
audio::-webkit-media-controls-return-to-realtime-button,
audio::-webkit-media-controls-toggle-closed-captions-button {
    display: none;
}

audio {
    width: 100px;
    height: 2rem;
}

/* ----------------------------------------------ROW AND COL----------------------------------------------- */

.my-row {
    display: flex;
    flex-direction: row;
}

.my-col {
    display: flex;
    flex-direction: column;
}

.center-align {
    justify-content: center;
    align-items: center;
}

.top-left-align {
    justify-content: flex-start;
    align-items: flex-start;
}

.start-center-align {
    justify-content: flex-start;
    align-items: center;
}

.center-start-align {
    justify-content: center;
    align-items: flex-start;
}

.even-space-align {
    justify-content: space-evenly;
    align-items: center;
}

.space-btwn-align {
    justify-content: space-between;
    align-items: center;
}